<!-- ======= Portfolio Section ======= -->
<section class="portfolio container" data-aos="fade-up">
    <div class="section-title">
        <h2>Portfolio</h2>
    </div>

    <!-- Portfolio items -->
    <article>
        <ul *ngFor="let item of items; index as i">
            <li class="row">                
                <div class="col-md-4 mb-4">
                    <img src="../../../assets/img/default-img.png" alt="Descripcion de la imagen" class="img-fluid img-thumbnail">
                </div>
                <div class="col-md-8">
                    <h3><span class="post-title">{{ i + 1 }}.</span> {{ item }}</h3>
                    <p class="my-5">Ea culpa id enim nisi aliqua ea minim fugiat velit adipisicing ex aliqua velit. Officia aute sint velit sint ea adipisicing. Ut amet sit officia Lorem consectetur incididunt officia reprehenderit non amet excepteur cupidatat in. Esse et nulla culpa occaecat veniam. Incididunt reprehenderit nulla elit pariatur Lorem enim nisi cillum reprehenderit consequat sint deserunt officia labore. Mollit velit eiusmod amet anim deserunt deserunt officia ad aliquip veniam laboris sit.</p>
                    <a href="#" mat-raised-button color="primary" class="btn-lg btn-demo">Ver Demo</a>
                </div>
            </li>
        </ul>
    </article>
</section>