<!-- ======= Portfolio Section ======= -->
<section class="portfolio container" data-aos="fade-up">
  <div class="section-title">
    <h2 class="portfolio-title">Portfolio</h2>

    <app-add-btn
      *ngIf="authenticated"
      [componentToOpen]="3"
      matTooltip="agregar una habilidad"
      [matTooltipShowDelay]="100"
      [matTooltipHideDelay]="200"
    ></app-add-btn>

    <app-editar-btn
      *ngIf="authenticated"
      class="mx-3"
      [componentToOpen]="5"
      matTooltip="editar una habilidad"
      [matTooltipShowDelay]="100"
      [matTooltipHideDelay]="200"
    ></app-editar-btn>
  </div>

  <!-- Portfolio items -->
  <section class="portfolio-container">
    <article
      *ngFor="let proyecto of proyectos"
      class="portfolio-container__card mat-elevation-z2 mb-4"
    >
      <h2 class="proyecto-title mt-3">{{ proyecto.titulo }}</h2>
      <div
        class="pic"
        [style.backgroundImage]="'url(' + proyecto.imagenUrl + ')'"
      ></div>
      <p class="descripcion">{{ proyecto.descripcion }}</p>
      <section class="portfolio-container__card__btn">
        <i class="font-awesome-arrow fas fa-arrow-right"></i>
        <p>ver proyecto</p>
        <a [attr.href]="proyecto.url" target="_blank"></a>
      </section>
    </article>
  </section>
</section>
