<app-header></app-header>
<app-hero id="hero"></app-hero>
<main id="main">
    <app-about id="about"></app-about>
    <app-habilidades id="habilidades"></app-habilidades>
    <app-portfolio id="portfolio"></app-portfolio>
    <app-contacto id="contacto"></app-contacto>
</main><!-- Fin #main -->
<app-footer></app-footer>
<!-- btn volver arriba -->
<a 
#backToTop 
href="#" 
class="back-to-top d-flex align-items-center justify-content-center"
[ngClass]=" {
    'active': activarBackToTop === true
}"><i class="bi bi-arrow-up-short"></i></a>