<!-- ======= Section Habilidades ======= -->
<section id="habilidades" class="habilidades">
  <article class="container" data-aos="fade-up">
    <section class="section-title">
      <h2>Habilidades</h2>

      <app-add-btn
        *ngIf="authenticated"
        [componentToOpen]="2"
        matTooltip="agregar una habilidad"
        [matTooltipShowDelay]="100"
        [matTooltipHideDelay]="200"
      ></app-add-btn>

      <app-editar-btn
        *ngIf="authenticated"
        class="mx-3"
        [habilidadesActuales]="habilidades"
        [componentToOpen]="4"
        matTooltip="editar una habilidad"
        [matTooltipShowDelay]="100"
        [matTooltipHideDelay]="200"
      ></app-editar-btn>

      <p>
        Estas son las tecnologias en las que me eh capacitado por ahora y el tiempo que llevo utilizandolas.
      </p>
    </section>

    <section class="row">
      <article
        *ngFor="let habilidad of habilidades; let i = index"
        (mouseover)="mouseOver()"
        (mouseout)="mouseOut()"
        class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4"
        data-aos="zoom-in"
        [attr.data-aos-delay]="100 * i"
      >
        <div class="icon-box">
          <app-borrar-habilidad [habilidad]="habilidad" class="position-absolute top-0 translate-middle"></app-borrar-habilidad>
          <div class="icon">
            <svg
              width="100"
              height="100"
              viewBox="0 0 600 600"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke="none"
                stroke-width="0"
                [ngStyle]="{
                  fill: colorFill(habilidad)
                }"
                [attr.d]="svgBackground(i)"
              ></path>
            </svg>
            <i
              [ngStyle]="{
                color: colorIcon(habilidad)
              }"
              [style.color]="'#' + habilidad.color"
              [class]="'devicon-' + habilidad.clase"
            ></i>
          </div>
          <h4>{{ habilidad.nombre | uppercase }}</h4>
          <p>
            Experiencia de uso: <b> {{ calcularMeses(habilidad.fechaI) }} meses</b>
          </p>
        </div>
      </article>
    </section>
  </article>
</section>
<!-- Fin Section Habilidades -->
