<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container my-auto" data-aos="zoom-in" data-aos-delay="100">
      <h1>Facundo Castro <app-editar-btn [componentToOpen]="1"></app-editar-btn></h1>
      <ngx-typed-js
        [strings]="['Facundo.', 'Creativo.', 'Desarrollador.']" 
        [loop]="true" 
        [typeSpeed]="100" 
        [backSpeed]="50"
        [backDelay]="2000">
        <p>Hola! bienvenido a mi portfolio soy <span class="typing"></span></p>
      </ngx-typed-js>
      <div class="social-links">
        <a href="#" class="github" 
            matTooltip="Mi github" 
            [matTooltipShowDelay]="100"
            [matTooltipHideDelay]="200"
            aria-label="Boton que muestra un tooltip con un delay para mostrar y ocultar">
            <i class="bx bxl-github"></i>
        </a>
        <a href="#" class="linkedin" 
            matTooltip="Mi linkedin"
            [matTooltipShowDelay]="100"
            [matTooltipHideDelay]="200"
            aria-label="Boton que muestra un tooltip con un delay para mostrar y ocultar">
            <i class="bx bxl-linkedin"></i>
        </a>
      </div>
    </div>

    <!-- Scroll Down Mouse -->
    <div class="mouse mx-auto"></div>

</section><!-- End Hero -->