<!-- ======= Section Sobre Mi ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Sobre Mi</h2>

      <article class="btns-edit mb-2">
        <app-editar-btn
          *ngIf="authenticated"
          [componentToOpen]="3"
          matTooltip="editar el contenido principal"
          [matTooltipShowDelay]="100"
          [matTooltipHideDelay]="200"
        ></app-editar-btn>

        <app-editar-img-btn
          class="mx-3"
          *ngIf="authenticated"
          [componentToOpen]="2"
          matTooltip="editar imagen de fondo"
          [matTooltipShowDelay]="100"
          [matTooltipHideDelay]="200"
        ></app-editar-img-btn>
      </article>

      <article class="sobremi-text">
        <p>
          {{ persona.sobreMi }}
        </p>
      </article>
    </div>

    <article class="sobremi-main row">
      <article class="img-perfil-sobremi col-lg-4">
        <img [src]="fotoPerfilUrl" class="img-fluid" alt="imagen de perfil" />
      </article>
      <article class="main-content col-lg-8 pt-4 pt-lg-0 content">
        <h3 class="fst-italic">{{ persona.ocupacion }}</h3>
        <p class="fst-italic">
          Tengo el agrado de dirigirme a ti para tener la ocasión de demostrar
          mis aptitudes, por lo que solicito tener la oportunidad de concertar
          una entrevista contigo.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Cumpleaños:</strong>
                <span>{{ persona.fechaNac | date: "dd/MM/yyyy":"UTC" }}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Ciudad:</strong>
                <span>{{
                  persona.localizacion.pais + ", " + persona.localizacion.ciudad
                }}</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Edad:</strong>
                <span>{{ edad() }}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Estado:</strong>
                <span>{{ textoDisponibilidad }}</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          {{ persona.descripcion }}
        </p>
        <article class="d-flex justify-content-center">
          <div class="btn-cv">
            <button class="btn">DESCARGAR CV</button>
          </div>
          <app-subir-cv-btn
            class="mx-2"
            *ngIf="authenticated"
            matTooltip="subir un cv"
            [matTooltipShowDelay]="100"
            [matTooltipHideDelay]="200"
          ></app-subir-cv-btn>
          <app-borrar-cv-btn
            *ngIf="authenticated && true"
            matTooltip="borrar cv"
            [matTooltipShowDelay]="100"
            [matTooltipHideDelay]="200"
          ></app-borrar-cv-btn>
        </article>
      </article>
    </article>
  </div>
</section>
<!-- Fin Section Sobre mi -->
