<!-- ======= Section Sobre Mi ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Sobre Mi</h2>
        <p> Soy un Argentino de 24 años apasionado por la tecnología y el futbol. Actualmente me estoy capacitando para ser un desarrollador web full stack.</p>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <img src="../../../assets/img/profile-img.jpg" class="img-fluid" alt="imagen de perfil">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content">
          <h3>Desarrollador Web Full Stack Jr.</h3>
          <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Cumpleaños:</strong> <span>24 Abr 1997</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Ciudad:</strong> <span>Tucuman, ARG</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Edad:</strong> <span>24</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Estado:</strong> <span>Disponible</span></li>
              </ul>
            </div>
          </div>
          <p>
            Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
            Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
          </p>
        </div>
      </div>

    </div>
  </section><!-- Fin Section Sobre mi -->